.mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.tile-block {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.tile-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 
        transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        scale 0.3s ease-in-out;
}

.tile-block:hover img{
    scale: 1.05;
}